#heads{
    font-family: 'Baloo Bhai 2', cursive;
    font-size: 90px;
    color:black;
    margin-top: 10px;
    text-align: center;
}
/* mid section */
#mid2{
    display: flex;
    text-align: center;
    margin-top: 40px;
    justify-content: center;
     
}

.img1{
     /* height: 1150px; */
     display: block;
     margin: auto;  
     text-align: center; 
     border-radius: 15px; 
}

.acc{
     border: 4px solid black;
     margin: 10px;
     padding: 34px;
     border-radius: 20px;
}

.acc:hover{
    background-color:#f2f2f2;
}
.container-fluid{
    margin-left:-1070px;
}
.container{
    margin-left: 37px;
}
.img1{
    height:  169px;
    width: 229px;
    border-radius: 10px;
    border: 4px solid black;
}
body{
    background: linear-gradient(115deg, #6eceda 10%,#f2eee5  90%);
}
footer{
    margin-top:50px;
   
}
#xyz{
  width:425px;  
}

 #nav1{
     margin-left: 55px;
 }
 #navimg{
     border-radius: 10px;
 }
 /* #Pharmanest{
    margin-left:20px; */
 /* } */
 #searchh{
     margin-right: 10px;
 }
  
 .sidebar {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
  }
  
  .sidebar a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
  }
  
  .sidebar a:hover {
    color: #f1f1f1;
  }
  
  .sidebar .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  }
  
  .openbtn {
    font-size: 25px;
    cursor: pointer;
    background-color: #111;
    color: white;
    border: none;

    margin-left: 25px;
  }
  
  .openbtn:hover {
    background-color: #444;
  }
  
  #main {
    transition: margin-left .5s;
    /* padding: 16px; */
  }
  #Pharmanest{
    
    margin-top: -5px;
    font-weight: bolder;
    font-size: 25px;
    font-family: cursive;
    margin-left: -1250px;
 }
#up{
    padding-left: 200px;
  
   font-weight: bold;
   
   font-size: 20px;
}

 #upp{
    padding-right: 10px;
 } 
 #xyz{
   width: 370px;
 }
 #second{
   padding-left: 285px;
   /* color: #818181; */
 }
 #innerbox{
   font-size: large;
   font-weight: bold;
   font-family: cursive;
   

 }
 #innerbox div:hover{
 font-style: italic;
background: #393a3b;
}
marquee{
  font-size: 75px;
  font-weight: bold;
  color: black;
}

  
 h5{
    text-align: center;
   
}
.text-muted{
    margin-left: 155px;
}
#mark{
    font-size: 75px;
    font-weight: bold;
    color: black;
    padding-left: 420px;
    font-family: Georgia, 'Times New Roman', Times, serif;
   
}

.card{
    border: 2px solid black;
}
.card:hover{
    background-color:#f2f2f2;

}
.photo{
    height: 45px;
    width: 45px;
    border-radius: 10px;
}










