.sidebar {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
  }
  
  .sidebar a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
  }
  
  .sidebar a:hover {
    color: #f1f1f1;
  }
  
  .sidebar .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  }
  
  .openbtn {
    font-size: 25px;
    cursor: pointer;
    background-color: #111;
    color: white;
    border: none;
  
    margin-left: 25px;
  }
  
  .openbtn:hover {
    background-color: #444;
  }
  
  #main {
    transition: margin-left .5s;
    /* padding: 16px; */
  }
  #Pharmanest{
    
    margin-top: -5px;
    font-weight: bolder;
    font-size: 25px;
    font-family: cursive;
    margin-left: -1150px;
  }
  #up{
    padding-left: 200px;
  
   font-weight: bold;
   
   font-size: 20px;
  }
  
  #upp{
    padding-right: 10px;
  } 
  #xyz{
   width: 370px;
  }
  #second{
   padding-left: 285px;
   /* color: #818181; */
  }
  #innerbox{
   font-size: large;
   font-weight: bold;
   font-family: cursive;
   
  
  }
  #innerbox div:hover{
  font-style: italic;
  background: #393a3b;
  }
  marquee{
  font-size: 75px;
  font-weight: bold;
  color: black;
  }
  
  
  h5{
    text-align: center;
   
  }
  .text-muted{
    margin-left: 155px;
  }
  #mark{
    font-size: 75px;
    font-weight: bold;
    color: black;
    padding-left: 420px;
    font-family: Georgia, 'Times New Roman', Times, serif;
   
  }
  
  .card{
    border: 2px solid black;
  }
  .card:hover{
    background-color:#f2f2f2;
  
  }
  .photo{
    height: 45px;
    width: 45px;
    border-radius: 10px;
  }
  
  #booktickets{
  background-color: black;
  /* margin-right:2px ; */
  margin-left: -25px;
  }
  
  .container-fluid{
      margin-left:-1090px;
    }
    .container{
      margin-left: 37px;
    }
    img{
      height: 75px;
      width: 75px;
      border-radius: 10px;
      
    }
   
    footer{
      margin-top:10px;
      padding-left: 55px;
    }
    /* body{
  
      
    
    }
     */
    #innerfooter{
      /* padding-left:-55px; */
      margin-left:0px;
    }
    /* #abc{
      width:425px;  
    } */
    
    .center{
      max-width: 600px;
          display: flex;
          align-items: center;
          justify-content: center;
          min-height: 100vh;
          padding: 30px;
          
        } 
        
        
        form .data .qwe{
          width: 250px;
          height:35px;
          margin: 2px;
        } 
        
    .box{
      
      background:#f2f2f2;
      margin-left: 700px;    
      padding: 15px 40px 10px 40px;
      border: solid black 2px;
      font-family: 'Oswald', sans-serif;
    }
    .center form .data{
        display: flex;
        padding: 5x;
    }
    h2{
      display: flex;
    font-size: 40px;
    color: black;
    margin-top: 0px;
    margin-bottom: 10px;
    justify-content: center;
    } 
    
    #profile_img{
      margin-left: 210px;
      border-style: circle;
    }
     .sub_btn{
      width: 60%;
      padding-top: 10px;
      border: 2px solid black;
      background-color:black ;
      color: white;
      font-size: 20px;
      font-weight: 500;
      margin: 17px;
      margin-left: 50px;
  
    
     }
     /* #xyz{
      width:380px;  
     }
      */
  
    .photo{
        height: 45px;
        width: 45px;
        border-radius: 10px;
    }